<!-- Header -->
<div id="skillsPageText">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navMain">
    <div class="container">

      <div class="row">
        <div class="col-sm">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".nav-collapse">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse">
            <ul class="navbar-nav" id="navElements">
              <li class="nav-item">
                <form action="/" method="get">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </form>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/skilledVolunteerSearch">Find Skilled Volunteer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/categoryHostSearch">Find Host by Category</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/browseVolunteers">Browse Volunteers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/browseHosts">Browse Event Hosts</a>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <div class="row justify-content-end">
        <div class="col-sm" >
          <div class = "header-btn" id="loginBtn">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
          </div>
        </div>
      </div>

    </div>
  </nav>

  <div class="container" id="skillsPageBackground">

    <div class="jumbotron jumbotron-fluid" id="skillPageJumbo"> 
      <div class="container" id="jumboText">
        <h1 class="display-3">Find a Skilled Volunteer</h1>
      </div>
    </div>
  
    <div class="container" id="skillsPage">
      
      <h3>Search results for volunteers with skill:  "{{this.skillname}}"</h3><br>
      <div class ="container" id="skilled-vol-results">
      {{#if volunteer}}
      <h5><table id="skilled-vol-table" class="resultsTable">
	<tr>
	  <th>Name</th>
	  <th>Email</th>
	</tr>

      {{#each volunteer}}
        <form id="get_volunteer_info{{this.vid}}" method="GET" action="/select-volunteer-info">
        <tr>
          <td>
            <input type="hidden" form="get_volunteer_info{{this.vid}}" id="get_volunteer_info_id{{this.vid}}" name="vid" value="{{this.vid}}"/>
            <input class="getInfo" type="submit" form="get_volunteer_info{{this.vid}}" id="get_volunteer_info_submit{{this.vid}}" value="{{this.firstname}} {{this.lastname}}"/>
          </td>
          <td>{{this.email}}</td>
        </tr>
        </form>
      {{/each}}
      </table></h5>
      {{else}}
      No matching results for "{{this.skillname}}"<br>
      {{/if}}		
      </div>
    
     <br><br><br>

     <!-- Services -->
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h4>Help Out is a social platform for connecting volunteers with events.</h4>
            <p> Help Out is a great way to connect and help with people near you.  Simply
              Enter your address and the system will find local events that you can volunteer
              for. Alternatively, you can post events and find volunteers near you. </p>
          </div>

          <div class="col-sm">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="searchContainer">

</div>


<script src="/forms.js"> </script>

